@{
    ViewBag.Title = "First Backlog";
}
.
<h2>Index</h2>

<p>Hello from our View Template!</p>

<p>ID = @ViewData["ID"]</p>
<p>NAME = @ViewData["NAME"]</p>
<p>DESCRIPTION = @ViewData["DESCRIPTION"]</p>
<p>AUTHOR = @ViewData["AUTHOR"]</p>
<p>STEPS = @ViewData["STEPS"]</p>