@model EasyTracker.Business.Entities.BaseEnitity
@{
    ViewData["Title"] = "Backlog";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<form asp-controller="Backlog" asp-action="Index">
    <table class="table">
        <thead>
        <tr>
            <th>
                <label asp-for="Id"></label>
            </th>
            <th>
                <label asp-for="Author"></label>
            </th>
            <th>
                <label asp-for="Description"></label>
            </th>
            <th>
                <label asp-for="Name"></label>
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Id
                </td>
                <td>
                    @Model.Author
                </td>
                <td>
                    @Model.Description
                </td>
                <td>
                    @Model.Name
                </td>
            </tr>
        </tbody>
    </table>
</form>


<h1>
    @Html.DisplayNameFor(model => model.Id)
</h1>
<h1>
    @Html.DisplayFor(model => model.Id)
</h1>
<p>Welcome master!</p>
